<html>
  <head>
    <meta charset="utf-8">
    <title>Ormuco Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="container">
        <div class="jumbotron">
          <h1> Ormuco </h1>
          <h2> Form </h2>
        </div>
      </div>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
